* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}
/* INTESTAZIONE */
.container{
  width: 1200px;
  margin: 0 auto;
}

main > section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.header {
  box-sizing: content-box;
  padding: 10px;
  background-image: url(../img/jumbo.png);
  height: 600px;
  background-size: cover;
}

.tab {
  display: flex;
  padding: 10px;
  border: 1px solid #000;
  border-style: none;
  background-color: #daa520;
  flex-grow: 1;
}

.center {
  display:flex;
  justify-content: space-around;
}

.left {
  justify-content:flex-end;
}

#text{
  text-align: center;
  color: #fff;
  padding-top:30px;
}

.lista1 {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 10px;
  gap: 40px;
  background-color: #255ee9;
  color:#fff;
}

.blu-button{
  background-color:#255ee9;
  border-color:none;
}

.white-button{
  background-color:#fff;
  border-color:none;
}
/* INZIO IMMAGINI MAIN */

.img-small{
  height: 80%;
  width: auto;
}

.img-big{
  height: 100%;
  width: auto;
}

/* /FINE IMMAGINI MAIN */

/* INIZIO TESTO MAIN */

.box-container{
width: 350px;
height: auto;
padding: 20px;
}

.box-text{
  position: initial;
  width: 100%;
  padding: 20 0 20 0;

}

h1{
  font-size:35px;
  padding-bottom:30px;
}

.p-text{
padding: 30px 250px;
}

.big-button-white{
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border-radius: 40%;
  text-align: center;
  margin-top: 20px;
  gap: 20px;
  margin-right:10px
}

.big-button-black{
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 40%;
  text-align: center;
  margin-top: 20px;
  gap: 20px;
  margin-right:10px
}





/* /FINE TESTO MAIN */

.bg-white {
  background-color: #fff;
} 
.bg-blue {
  background-color: #00008b;
} 
.bg-gray {
  background-color: #d3d3d3;
} 
.bg-black {
  background-color: #23272a;
} 

.bg-green {
  background-color: #008000;
  border-style:dashed;
  width: 400px;
}

.big-pink {
  background-color: #ee82ee;
  display: flex;
  border-style:dashed;
  align-items: center;
  height: 100%;
  width: 80%;
  margin-left:10%;

}


.row {
  display: flex;
}

.large {
  display: flex;
  flex-grow: 2;
}

.barra {
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
}

.box-finale {
  justify-content: center;
  padding: 20px;
}

.big-button-blue{
  background-color: #7288da;
  color: #fff;
  padding: 10px 20px;
  border-radius: 40%;
  text-align: center;
  margin-top: 20px;
  gap: 20px;
  margin-right:10px
}

/* Parte Footer */

.h1-blue{
  color:#7288da;

}

.Italia{
  width: 20px;
}

.style-none{
  list-style-type: none;
  padding-top:20px;
}

.capolista{
  color:#7288da;
  size: 15px;
  padding-bottom:10px;
}

.lista{
  color:#fff;
  padding-top:10px;

}

.footer-big {
  background-color: #23272a;
  width: 60%;
  border-style:none;
  padding-top:20px
}

.footer-small {
  background-color: #23272a;
  display: flex;
  width: 40%;
}

.padding-top {
  display: flex;
  padding: 10px 0px 30px 0px;
}


.secondaria{
  display: flex;
  justify-content: space-between;
  background-color: #23272a;
  width:100%;
  align-items: center;
  height:50px;
  border-top:1px solid #7288da;
}

.back-tab{
  background-color:#23272a;
  font-size: 15px;
  padding :3px;
}

button{
  background-color: #fff;
  border-radius:50%;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.little-button-blue{
  background-color: #7288da;
  color: #fff;
  padding: 10px 20px;
  border-radius: 40%;
}

.white{
  color:#fff;
}
 
/* debug */

.debug .row {
height: 400px;
}

.debug .col{
height: 400px;
flex-grow: 1;
}

/* .debug .bg-azure{
  background-color: #1e90ff;
  border-style:dashed;
} */